.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#appNavbar {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#appDisplay {
  box-sizing: border-box;
  height: 87%;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
